{% load static %}
{% url 'home_page' as home_url %}
{% url 'contact_page' as contact_url %}
{% url 'register_page' as register_url %}
{% url 'login_page' as login_url %}
{% url 'products:list' as product_url %}
{% url 'cart_home' as cart_url %}
{% url 'logout' as logout_url %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{% if brand_name %} {{brand_name }}{% else %}Alpha Digital Market{% endif %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products_list' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_page' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_page' %}">Register</a>
          </li>
          {% if request.user.is_authenticated %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login_page' %}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item {% if request.path == cart_url %} activate {% endif %}">
            <a class="nav-link" href="{{ cart_url}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i><b>{{request.session.cart_items}}</b></a>
          </li>
             
        </ul>
        <div ml-auto>
        {% include 'search/snippets/search-form.html' %}
        </div>
      </div>
    </div>
  </nav>