<div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="product-thumbnail">
        <div class="product-img-head">
            <div class="product-img">
                <img src='{{ instance.image.url }}' alt="" class="img-fluid" style="width:180px;height:200px;"></div>
            <div class="ribbons"></div>
            <div class="ribbons-text">New</div>
            <div class=""><a href="#" class="product-wishlist-btn"><i class="fas fa-heart"></i></a></div>
        </div>
        <div class="product-content">
            <div class="product-content-head">
                <h5 class="product-title">{{instance.title}}</h5>
                <p>Description: {{ instance.description }}</p>
                <div class="product-rating d-inline-block">
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                    <i class="fa fa-fw fa-star"></i>
                </div>
                <div class="product-price">Price: {{instance.price}} KES</div>
            </div>
            <div class="product-btn">
                <a href="#" class="btn btn-primary">Add to Cart</a>
                <a href="{ % url 'detail' slug=instance.slug %}" class="btn btn-outline-success">Details</a>
                <a href="#" class="btn btn-outline-light"><i class="fas fa-exchange-alt"></i></a>
            </div>
        </div>
    </div>
</div>